#home {
  padding-left: 0;
  padding-right: 0;

  .hero-text {
    color: white;
    position: absolute;
    top: 30%;
    width: 96.667%;
  }
}

#about {
  background-color: ghostwhite;
}

#events {
  background-color: ghostwhite;
}

#hours {
  background-color: grey;
}
