#home {
  padding-left: 0;
  padding-right: 0;

  .hero-text {
    color: white;
    position: absolute;
    top: 30%;
    width: 96.667%;
  }
}

#about {
  background-color: $primary-color;

  .abt-pic {
    img {
      border-radius: 50%;
    }
  }
}

#events {
  background-color: ghostwhite;
}

#hours {
  background-color: $secondary-color;
}

#happy-hour {
  background-color: $primary-color;
  color: $secondary-color;
}
