.sidebar-container {
  position: fixed;
  width: 125px;
  height: 100%;
  left: 0;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  background: $alternative-color;
  color: white;
  z-index: 100;
  transition: all 0.5s ease-in-out;

  i {
    transition: all 0.5s ease-in-out;
  }

  .sidebar-logo {
    overflow: hidden;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    display: grid;

    .nav-item {
      display: inline-block;
      overflow: hidden;
      height: 60px;
      white-space: nowrap;
      padding: 20px 0 10px 0;
      transition: all 0.5s ease-in-out;

      .nav-link {
        text-align: center;
      }

      i {
        font-size: 2rem;
        float: left;
      }
    }
  }

  h1 {
    padding-left: 25%;
    transition: all 0.5s ease-in-out;
  }
  span {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    width: 250px;
    display: block;

    .nav-item {
      margin-left: 15%;
    }

    span {
      opacity: 1;
    }

    h1 {
      padding-left: 0;
    }
  }
}

nav {
  background-color: $alternative-color;

  a {
    color: $secondary-text;

    &:hover {
      color: $secondary-text;
    }
  }
}
