.body,
html {
  color: $text-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  p {
    font-family: 'Noto Serif', serif;
  }
}

.sidebar-container {
  color: $secondary-color;

  .nav-item {
    a {
      color: $text-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

#home {
  h1 {
    font-size: 90px;
    text-shadow: -1px 0 black, 0 1px black, 0 -1px black;
  }

  h6 {
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 0 -1px black;
  }
}

#about {
  color: $secondary-text;
}

#showcase {
  color: $secondary-text;

  .showcase-box {
    text-transform: uppercase;
  }
}

footer {
  i {
    font-size: 2rem;
  }
}
