.body,
html {
  color: $text-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  p {
    font-family: 'Noto Serif', serif;
    font-size: 0.9rem;

    @include for-md-up {
      font-size: 1rem;
    }
  }
}

.sidebar-container {
  color: $secondary-color;

  .nav-item {
    a {
      color: $text-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

#home {
  h1 {
    font-size: 2.8rem;
    text-shadow: -1px 0 black, 0 1px black, 0 -1px black;

    @include for-md-up {
      font-size: 5.6rem;
    }
  }

  h6 {
    font-size: 1.25rem;
    text-shadow: -1px 0 black, 0 1px black, 0 -1px black;

    @include for-md-up {
      font-size: 1.9rem;
    }
  }
}

#about {
  color: $secondary-text;
}

#showcase {
  color: $secondary-text;

  span {
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;

    @include for-md-up {
      font-size: 3.2rem;
    }
  }

  .showcase-box {
    text-transform: uppercase;
  }
}

#events {
  h5 {
    color: $secondary-text;
    text-shadow: -1px 0 black, 0 1px black, 0 -1px black;
  }
  p {
    color: $secondary-text;
    text-shadow: -1px 0 black, 0 1px black, 0 -1px black;
  }

  .card-month {
    text-transform: uppercase;
  }
}

footer {
  color: $secondary-text;

  i {
    font-size: 2rem;
    padding: 0, 0.5rem, 0, 0.5rem;
  }

  .credit {
    a {
      color: #4eb89f;
    }
  }
}
